/*ADD "--style compressed" TO COMPILER OPTIONS*/
@import "bootstrap";

body {
	background-color: #E6E6E6;

}

/*html, body, .container {
	height: 100%;
}*/

nav.navbar.navbar-default {
    box-shadow: 0px 2px 2px #AAA;
    border-radius: 0;
}

/*.container {
	display: table;
	vertical-align: middle;
}*/
.container.first-content {
    margin-top: 70px;
}
#login-form {
	/*display: table-cell;
	vertical-align: middle;
	width: 100%;*/
	.panel {
		background-color: #fbfbfb;
		border: 1px solid #AAA;
		border-bottom: 1px solid #888;
		border-radius: 3px;
		box-shadow: 0px 2px 2px #AAA;
	}
	label.radio {
		min-height: 20px;
		padding-left: 20px;
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
	}
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    /*background-color: $navbar-default-bg;*/
    font-size: .8em;
    color: #555;
    background-color: #E6E6E6;
    hr.style-two {
        margin: 0 auto;
        border: 0;
        width: 50%;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    }
}