/*ADD "--style compressed" TO COMPILER OPTIONS*/
@import "bootstrap";

html, body, .container {
    height: 100%;
}

.container {
    display: table;
    vertical-align: middle;
}

.login-form {
    display: table-cell;
    vertical-align: middle;
}