{* This is the welcome page, you can delete it *}

{block content}
	<div id="login-form">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="panel-title">Prihlásenie</h3>
					</div>
					<div class="panel-body">
						{control newLoginForm}
					</div>
				</div>
			</div>
		</div>
	</div>

{/block}
